@import '../../styles/variables.scss';

.login-button {
    outline: none;
    background: none;
    padding: 1rem 0;
    font: inherit;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border:3px solid $primary_blue;
    transition: .3s;
    color: $primary_blue;
    &:hover {
        @include transformY(-2px);
        background-color: $primary_blue;
        color: white;
    }
}

.disabled-login {
    outline: none;
    background: none;
    padding: 1rem 0;
    font: inherit;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: .3s;
    border: none;
    background-color: $primary_gray;
}